#muum-live2d{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    .spine-player{
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 10vh;
        .spine-player-canvas{
            height: 85vh;
        }
    }
    &.nier{
        .spine-player{
            .spine-player-canvas{
                margin-left: -29vh;
            }
        }        
    }
    &.cinderella{
        .spine-player{
            .spine-player-canvas{
                margin-left: -7vh;
            }
        }        
    }    
}

.refer{
    display: none;
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
    z-index: 11;
    opacity: 0.2;
}