.local_file{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: calc(100% - 4rem);
    box-sizing: border-box;
    padding: 1.5rem;
    user-select: none;
    background-color: inherit;
    overflow: auto;
    .file_operator{
        display: flex;
        justify-content: space-between;
        .operator_left{
            display: flex;
            align-items: center;
            .play_all_button{
                display: flex;
                align-items: center;
                padding: 0 1.2rem;
                height: 2.2rem;
                border-radius: 0.2rem;
                background-color: var(--global-active-color);
                color: var(--global-bg-color2);
                font-size: 0.9rem;
                cursor: pointer;
                .icon-play2{
                    margin-right: 0.3rem;
                    margin-bottom: -0.15rem;
                    font-size: 1.2rem;
                }
            }
            .icon-add{
                font-size: 1.2rem;
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }
        .search_input{
            position: relative;
            height: 2.2rem;
            width: 14rem;
            border-radius: 0.2rem;
            background-color: var(--global-bg-color2);
            color: var(--global-ft-color1);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 0 0.6rem;
            .input{
                height: 100%;
                width: 100%;
                border: none;
                background: inherit;
                color: inherit;
                padding: 0;
                font-family: inherit;
                font-size: 0.9rem;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: var(--global-ft-color3);
                }
            }            
            .icon-search{
                font-size: 1.1rem;
                flex-shrink: 0;
                margin-left: 0.3rem;
            }
        }
    }
    .file_list{
        margin-top: 1rem;
        background-color: var(--list-bg-color1);
        .file{
            display: flex;
            padding: 0.5rem;
            align-items: center;
            position: relative;
            &:nth-child(2n){
                background-color: var(--list-bg-color2);
            }
            &.selected{
                background-color: var(--list-select-bg-color);
            }            
            &:hover{
                background-color: var(--list-hover-bg-color);
            }
            &.title{
                background-color: var(--list-bg-color2);
                >div{
                    font-size: 0.85rem;
                    color: var(--global-ft-color2-5);
                }
            }
            &.active{
                .index{
                    .mark{
                        display: block;
                        color: var(--global-active-color);
                        font-size: 0.95rem;
                        margin-right: 0.1rem;
                        position: absolute;
                    }
                    .number{
                        display: none;
                    }
                }
            }
            >div{
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 1rem;
            }
            .index{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 2.5rem;
                flex-shrink: 0;
                color: var(--global-ft-color3);
                font-size: 0.9rem;                
                .mark{
                    display: none;
                }
            }
            .name{
                width: 40%;
                color: var(--global-ft-color1);
                font-size: 0.9rem;
            }
            .artists{
                width: 30%;
                color: var(--global-ft-color2);
                font-size: 0.9rem;
            }
            .album{
                width: 30%;
                color: var(--global-ft-color2);
                font-size: 0.9rem;
            }
            .duration{
                width: 3rem;
                flex-shrink: 0;
                color: var(--global-ft-color3);
                font-size: 0.9rem;
            }
            .high-light{
                color: var(--global-active-color2);
            }
        }
    }
}