.nier{
    --global-bg-color1: rgb(213,207,175);
    --global-bg-color1-5: #fcfcfc;
    --global-bg-color2: rgb(222, 217, 188);

    --global-ft-color1: #333;
    --global-ft-color2: #777;
    --global-ft-color2-5: #999;
    --global-ft-color3: #bbb;

    --global-active-color: #555;

    --list-bg-color1: rgb(224, 219, 192);
    --list-bg-color2: rgb(217, 212, 182);
    --list-select-bg-color: rgb(234, 230, 202);
    --list-hover-bg-color: rgb(230, 226, 204);

    --border-color: rgb(165, 165, 146);
    --bar-bg-color: rgb(200, 193, 156);
}
