.white{
    --global-bg-color1: #fff;
    --global-bg-color1-5: #fcfcfc;
    --global-bg-color2: #f0f0f0;

    --global-ft-color1: #333;
    --global-ft-color2: #777;
    --global-ft-color2-5: #999;
    --global-ft-color3: #bbb;

    --global-active-color: #555;

    --list-bg-color1: #fcfcfc;
    --list-bg-color2: #f6f6f6;
    --list-select-bg-color: rgb(225, 225, 225);
    --list-hover-bg-color: rgb(235, 235, 235);

    --border-color: #ddd;
    --bar-bg-color: #ccc;
}
