.confirm-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.025);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .dlg-container{
        background-color: #f9f9f9;
        width: 22rem;
        height: 12rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;
        .dlg-title{
            text-align: right;            
            .icon-close{
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        .dlg-message{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.95rem;
            padding: 0 1.5rem;            
            line-height: 1.5rem;
        }
        .dlg-buttons{
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            .confirm-button,.cancel-button{
                margin: 0 0.5rem;
                padding: 0.3rem 1.5rem;
                font-size: 0.9rem;
                border-radius: 0.1rem;
                background-color: #666;
                color: #f9f9f9;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
            .cancel-button{
                background-color: #f9f9f9;
                color: #666;
            }
        }
    }
}