.player_playSongList{
    z-index: 10;
    position: absolute;
    right: 0;
    height: calc(100% - 4rem);
    background-color: #fcfcfc;
    font-size: 0.9rem;
    user-select: none;
    border-left: 1px solid #ddd;

    .play_list_top{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        font-size: 0.8rem;
        .total{
            margin-left: 1rem;
            color: #999;            
        }
        .clear_list{
            margin-right: 1rem;
            cursor: pointer;
            color: #000;
        }
    }

    .play_list_body{
        width: 25rem;
        .song{
            display: flex;
            padding: 0.5rem;
            align-items: center;
            position: relative;
            &:nth-child(2n-1){
                background-color: #f6f6f6;
            }
            &.active{
                .mark{
                    display: block;
                }
                .name{
                    color: #000;
                }
                .artist{
                    color: #333;
                }
                .duration{
                    color: #999;
                }
            }      
            &.selected{
                background-color: rgb(225, 225, 225);
            }
            &:hover{
                background-color: rgb(235, 235, 235);
            }          
            >div{
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .mark{
                position: absolute;
                display: none;
                font-size: 0.8rem;
                margin-bottom: -0.1rem;
            }
            .name{
                width: 11rem;
                color: #333;
                margin-left: 1rem;
            }
            .artist{
                width: 7rem;
                color: #999;
                margin: 0 1rem;
                font-size: 0.85rem;
            }
            .duration{
                width: 3rem;
                color: #ccc;
                font-size: 0.8rem;
            }
        }
    }

}