.player_playSongList{
    z-index: 10;
    position: absolute;
    right: 0;
    height: calc(100% - 4rem);
    background-color: #fcfcfc;
    font-size: 0.9rem;
    user-select: none;
    border-left: 1px solid #ddd;
    .song{
        display: flex;
        padding: 0.5rem;
        align-items: center;
        position: relative;
        &:nth-child(2n){
            background-color: #f6f6f6;
        }
        &.active{
            .mark{
                display: block;
            }
            .name{
                color: #000;
            }
            .artist{
                color: #333;
            }
            .duration{
                color: #999;
            }
        }      
        &.selected{
            background-color: rgb(225, 225, 225);
        }
        &:hover{
            background-color: rgb(235, 235, 235);
        }          
        >div{
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mark{
            position: absolute;
            display: none;
            width: 0;
            height: 0;
            left: 0.7rem;
            border-top: 0.3rem solid transparent;
            border-bottom: 0.3rem solid transparent;
            border-left: 0.45rem solid #000;
        }
        .name{
            width: 8rem;
            color: #333;
            margin-left: 1rem;
        }
        .artist{
            width: 5rem;
            color: #999;
            margin: 0 1rem;
            font-size: 0.85rem;
        }
        .duration{
            width: 3rem;
            color: #ccc;
            font-size: 0.8rem;
        }
    }
}