// #ebf0c2,#efedbb,#e6f5ff,#fcf2db,#c2fcf6,#f2f3ee,#FEF8F2;
// $color-back = #ebf0c2

//#db5f29,#68bde1,#6a9c78,#ffa96a,rgba(251,229,183,0.7)
// $color-spec = #67AAD1
// $color-spec-o = rgba(103,170,209,0.4)

//#5e5e5e
// $color-text = #232931
// $color-text-2 = #6f6f6f


$color-back = #2b2b28

$color-spec = #cacfcf
$color-spec-o = rgba(202,207,207,0.5)

$color-text = #aaaaa8
$color-text-2 = #6a6a68

$color-button = rgba(190,190,190,0.1)
$color-button-a = rgba(220,220,220,0.15)

$color-move = rgba(190,190,190,0.1)

$color-li-h = rgba(100,100,100,0.1)
$color-li-a = rgba(190,190,190,0.1)

$color-icon = rgba(150,150,150,0.6)
$color-icon-h = rgba(230,230,230,0.6)