html,body{
    margin: 0;
    font-size: 16px;

    .szh-menu-container{
        font-size: 0.85rem;
        .szh-menu{
            background-color: #fcfcfc;
            padding: 0.5rem 0;
            border-radius: 0.2rem;
            min-width: auto;
            .szh-menu__item{
                padding: 0.4rem 0.8rem;
                &:hover{
                    background-color: #f0f0f0;
                }
            }
        }
    }
}